<h1 class="container-header page-title">Bookings of my cats</h1>

<div class="container-index-booking">
  <% current_user.owner_bookings.each do |booking| %>
    <div class="card-product" >
      <%= cl_image_tag booking.cat.photo.key, crop: :fill %>
      <div class="card-product-infos-bookings">
        <div>
          <div class="name">
            <h1><%= link_to booking.cat.name, cat_path(booking.cat) %> </h1>
          </div>
          <p>Booked for <%= (booking.ending_date - booking.starting_date).to_i %> days from <%= booking.starting_date.strftime("%B %d, %Y") %> </p>
          <% if booking.status == 'pending' %>
            <div class="accept">
              <%= link_to "Accept", accept_owner_booking_path %>
            </div>
            <div class="reject">
              <%= link_to "Reject", decline_owner_booking_path %>
            </div>
            <!-- CODE TO ADD IN BOTH LINES ABOVE TO CALL OWNER/BOOKINGS_CONTROLLER ACCEPT AND REJECT METHOD -->
          <% end %>
        </div>
        <div class="price">
          <p > <%= booking.total_price %> €</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
