<div class="container-header">
  <h1 class="page-title">MY BOOKINGS</h1>
</div>

<div class="container-index-booking">
      <% @bookings.each do |booking| %>
        <% if booking.user_id == current_user.id %>
          <div class="card-product" >
            <%= cl_image_tag booking.cat.photo.key, height: 300, width: 500, crop: :fill %>
            <div class="card-product-infos-bookings">
              <div>
                <h1><%= booking.cat.name %> </h1>
                <p>from <%= booking.starting_date %> to <%= booking.ending_date %> </p>
                <% totaltime = booking.ending_date - booking.starting_date %>
                <p> <%= totaltime %> / days</p>
              </div>
              <p class="price"> <%= booking.total_price %> €</p>
                <!-- <p> Status: <%= booking.status %> </p> -->
            </div>
          </div>
        <% end %>
      <% end %>
</div>
