<h1 class="container-header page-title">My bookings</h1>

<div class="container-index-booking">
      <% current_user.bookings.each do |booking| %>
          <div class="card-product" >
            <%= cl_image_tag booking.cat.photo.key, width: 300, height: 200, crop: :fill %>
            <div class="card-product-infos-bookings">
              <div>
                <h1><%= link_to booking.cat.name, cat_path(booking.cat) %> </h1>
                <div>
                  <p>Booked for <%= (booking.ending_date - booking.starting_date).to_i %> days from <%= booking.starting_date.strftime("%B %d, %Y") %> </p>
                </div>
              </div>
            </div>
            <div>
              <p class="price"> <%= booking.total_price %> €</p>
            </div>
            <div>
              <p class="price">
                <% case booking.status %>
                  <% when "pending" %>
                   <i class="fas fa-hourglass-half"></i>
                  <% when "accepted" %>
                    <i class="fas fa-check"></i>
                  <% when "rejected" %>
                    <i class="fas fa-times"></i>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
</div>
