<div class="container">
  <%= simple_form_for [:owner ,@cat] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :breed %>
  <%= f.input :age %>
  <%= f.input :performance %>
  <%= f.input :price_per_day %>
  <%= f.input :photo, as: :file %>
  <div class="button"> <%= f.submit %> </div>
<% end %>
<%= link_to"back to my cat's list", cats_path %>
</div>
