<div class="container">
  <div class="row">
    <div class="col-4">
      <%= simple_form_for [:owner ,@cat] do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :breed %>
        <%= f.input :age %>
        <%= f.input :price_per_day %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, class: "btn btn-primary mb-4" %>
     <% end %>
    </div>
  </div>
</div>
