<h1 class="container-header">List of cats</h1>

<div class="container-index">
  <% @cats.each do |cat| %>
    <div class="card-trip" >
      <div>
        <%= cl_image_tag cat.photo.key, height: 300, width: 700, crop: :fill %>
      </div>
      <div class="card-trip-infos">
        <div> <h5 > <%= cat.name.upcase %></h5> </div>
        <div> <h2 > Description: <%= cat.description %>  </h2> </div>
        <div> <h2 > Breed: <%= cat.breed %> </h2> </div>
        <div> <h2 > Performance: <%= cat.performance %> </h2></div>
        <div> <h2 class="card-trip-pricing" > price per day: <%= cat.price_per_day %> € </h2></div>
        <div> <h2 > Status: <%= cat.status %> </h2></div>
        <div>
         <%= link_to "Details", cat_path(cat) %>
        </div>
      </div>
  </div>
  <% end %>
</div>


